<div id="notauthorized" fxLayout="column">
    
    <div id="notauthorized-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        
        <div id="notauthorized-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            
            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>
            
            <div class="title">Você precisa estar logado!</div>
            
            <div class="subtitle">
                Escolha uma das opções abaixo!
            </div>
            
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button matStepperNext type="button" color="accent">
                    Next
                </button>
            </div>


        </div>

    </div>

</div>
